.page-content{
    background-color: #E0E0E0;
}
/*
.sidebar-content{
    background-color: #fff;
    padding:10px 10px 10px 10px;
    margin-left:2%;
}*/
.white{
    background-color: #fff;
    color:#000;
}